{% extends 'base.html.twig' %}
{% block title %}Se connecter{% endblock %}
{% block content %}
    <div class="container my-5 text-center"><br>
        <h2 class="mb-5">Connexion</h2>
        <div class="border py-5">
            <div class="mx-4">
                {% if error %}
                    <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                {% endif %}

                {% if app.user %}
                    <div class="mb-3">
                        You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
                    </div>
                {% endif %}
            </div>
            <form action="{{ path('login') }}" class="login-form" method="POST">
                <div class="login-form-row">
                    <label class="font-weight-bold text-info" for="_username">
                        Pseudo
                    </label>
                    <input type="text" name="_username" id="_username" placeholder="Votre pseudo."
                           value="{{ lastUsername }}" required>
                </div>
                <div class="my-4 login-form-row">
                    <label class="font-weight-bold text-info" for="_password">
                        Mot de passe
                    </label>
                    <input type="password" name="_password" id="_password" placeholder="Votre mot de passe."
                           required>
                </div>
                <p class="my-3 font-weight-bold">
                    <a href="{{ path('forgotten_password') }}">
                        Mot de passe oublié ?
                    </a>
                </p>
                <input type="hidden" name="_csrf_token"
                       value="{{ csrf_token('authenticate') }}"
                >
                <button type="submit" class="mt-2 btn-round-shadow btn btn-success">
                    <span class="fas fa-sign-in-alt"></span>
                    Connexion
                </button>
            </form>
        </div>
    </div>
{% endblock %}
